data/
*~
//eclipse
sirs-core/src/main/resources/fr/sirs/core/model/Utilisateur.properties

*.log
.classpath
.project
.settings/
.metadata/

.DS_Store
.hg
.hgtags
.hgignore

# Maven files
target/
dependency-reduced-pom.xml

# Netbeans files
nbactions.xml
launcher/nbactions-PUBLIC.xml
nb-configuration.xml
nbproject/

# IntelliJ files
.idea/
*.iml

# Pycharm
SirsMobile/style/__pycache__/

# SirsMobile and plugin QGIS conf file
SirsMobile/formTemplatePilote.json
SirsMobile/user_preference_correspondence.json
