
.table-row-cell {
    -fx-cell-size: 35;
}

.list-header{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(230,230,230);
    -fx-background-color: rgb(240,240,240);
}

.object-mode{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 0 0 0 5;
}

.button-list-objects{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 5 0 0 0;
}

.contact-pane{
    -fx-background-radius: 0 0 0 5;
}

.info-block{
    -fx-background-color: rgb(109,149,182);
}

.btn-without-style{
    -fx-background-color:none;
}

.item-contact{
    -fx-background-color: rgb(220,220,220);
}

.blue-light{
    -fx-background-color: rgb(109,149,182);
    -fx-background-radius: 0 0 0 0;
}

.label-header {
    -fx-text-fill: white;
}

.blue-dark{
    -fx-background-color:  rgb(74,123,165);
    -fx-background-radius:  0 0 0 0;
}

.gray-light{
    -fx-background-color: rgb(220,220,220);
    -fx-background-radius: 5 5 5 5;
}

.state-button-left {
    -fx-focus-color: transparent;
    -fx-background-color: linear-gradient(to bottom, rgb(109,149,182), rgb(109,149,182));
    -fx-background-radius: 10 0 0 10;
    -fx-border: 0px solid; 
    -fx-border-color: rgba(0,0,0,0); 
    -fx-border-radius: 10 0 0 10;
}

.state-button-left:selected {
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}

.state-button-right {
    -fx-focus-color: transparent;
    -fx-background-color: linear-gradient(to bottom, rgb(109,149,182), rgb(109,149,182));
    -fx-background-radius: 0 10 10 0;
    -fx-border: 0px solid; 
    -fx-border-color: rgba(0,0,0,0); 
    -fx-border-radius: 0 10 10 0;
}

.state-button-right:selected {
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}

.buttonbar{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 5 0 0 0;
}

.buttonbar-button{
    -fx-background-color:none;
}

.buttonbar-button:hover{
    -fx-background-color:rgb(109,149,182);
    -fx-text-fill: white;
}

.buttonbar-button:armed{
    -fx-background-color:rgb(74,123,165);
    -fx-text-fill: white;
}

.pojotable-header {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}