
// FOR ALL WIDGETS

.table-row-cell {
    -fx-cell-size: 35;
}

//special classes

.list-header{
    -fx-border-width: 0 0 1 0;
    -fx-border-color: rgb(230,230,230);
    -fx-background-color: rgb(240,240,240);
}

.object-mode{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 0 0 0 5;
}

.button-list-objects{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 5 0 0 0;
}

.contact-pane{
    -fx-background-radius: 0 0 0 5;
}

.info-block{
    -fx-background-color: rgb(109,149,182);
}

.btn-without-style{
    -fx-background-color:none;
}

.btn-gray {
    -fx-background-color:none;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 1;
    -fx-border-radius: 4;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.item-contact{
    -fx-background-color: rgb(220,220,220);
}

.blue-light{
    -fx-background-color: rgb(109,149,182);
    -fx-background-radius: 5 5 5 5;
}

.label-header {
    -fx-text-fill: white;
}

.blue-dark{
    -fx-background-color:  rgb(74,123,165);
    -fx-background-radius:  30 0 0 30;
}

.gray-light{
    -fx-background-color: rgb(220,220,220);
    -fx-background-radius: 5 5 5 5;
}

.state-button-left {
    -fx-focus-color: transparent;
    -fx-background-color: linear-gradient(to bottom, rgb(109,149,182), rgb(109,149,182));
    -fx-background-radius: 10 0 0 10;
    -fx-border: 0px solid; 
    -fx-border-color: rgba(0,0,0,0); 
    -fx-border-radius: 10 0 0 10;
    -fx-text-fill: rgb(34,93,135);
}

.state-button-left:selected {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.state-button-center {
    -fx-focus-color: transparent;
    -fx-background-color: linear-gradient(to bottom, rgb(109,149,182), rgb(109,149,182));
    -fx-background-radius: 0 0 0 0;
    -fx-border: 0px solid; 
    -fx-border-color: rgba(0,0,0,0); 
    -fx-border-radius: 0 0 0 0;
    -fx-text-fill: rgb(34,93,135);
}

.state-button-center:selected {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.state-button-right {
    -fx-focus-color: transparent;
    -fx-background-color: linear-gradient(to bottom, rgb(109,149,182), rgb(109,149,182));
    -fx-background-radius: 0 10 10 0;
    -fx-border: 0px solid; 
    -fx-border-color: rgba(0,0,0,0); 
    -fx-border-radius: 0 10 10 0;
    -fx-text-fill: rgb(34,93,135);
}

.state-button-right:selected {
    -fx-text-fill: black;
    -fx-background-color: white;
}

.buttonbar{
    -fx-background-color: rgb(109,149,182);
    -fx-background-radius: 5 0 0 0;
}

.buttonbarleft{
    -fx-background-color: rgb(109,149,182);
    -fx-background-radius: 0 5 0 0;
}

.buttonbar-button{
    -fx-background-color:none;
}

.buttonbar-button:hover{
    -fx-background-color:rgb(109,149,182);
}

.buttonbar-button:armed{
    -fx-background-color:rgb(74,123,165);
}

.geobutton{
    -fx-background-color:rgb(74,123,165);
    -fx-text-fill: white;
    -fx-background-radius:  0 30 30 0;
}

.geobutton:hover{
    -fx-background-color:rgb(99,139,172);
}

.geobutton:armed{
    -fx-background-color:rgb(109,149,182);
}

.pojotable-header {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.pos-top{
    -fx-background-color: rgb(74,123,165);
    -fx-background-radius: 10 10 0 0;
}

.pos-bottom{
    -fx-background-color: rgb(220,220,220);
    -fx-background-radius: 0 0 10 10;
}

.element-pane:disabled{
    -fx-opacity: 1.0
}




.deprecatedReferenceRow {
    -fx-background-color: #FFE4C4;
    /*-fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;*/
}
.deprecatedReferenceRow:selected {
    -fx-background-color: #aF7454;
    /*-fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;*/
}
